body {
  font-family: Arial, Helvetica, sans-serif;
  background: #dadada;
  margin: 0px;
}

header {
  background-image: url("../imagens/bg-3.jpg");
  height: 500px;
  background-size: cover;
  background-position: right;
}

.menu nav li {
  display: inline-block;
  list-style: none;
  border: solid white 1px;
  margin-left: 10px;
}

.menu nav ul {
  text-align: right;
  padding-top: 30px;
  padding-right: 30px;
}

.menu nav a {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
}

.menu nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.texto-header {
  color: #ffffff;
  text-align: center;
  margin-top: 150px;
}

.texto-header h1 {
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 3px 3px 5px black;
}

.texto-header p {
  padding: 10px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: solid 3px white;
}

.card {
  float: left;
  width: 32%;
  margin-left: 1%;
  padding-bottom: 15px;
}

.card p {
  background-color: #5d5d5d;
  color: white;
  margin: 0px;
  padding-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;

}

.card img {
  width: 100%;
  display: block;
}

main {
  width: 80%;
  margin: auto;
}

.content-section {
  background-color: #ffffff;
  margin-top: 15px;
  padding-top: 15px;
  overflow: auto;
}

.artigo h2 {
  background-color: #969696;
  border-bottom: solid 2px black;
  width: 96%;
  margin: auto;
  padding-left: 10px;
  clear: both;
}

.artigo p {
  margin: 10px 20px;
  text-align: left;
  text-indent: 20px;
  padding-bottom: 15px;
}

footer {
  color: #ffffff;
  text-align: center;
  background-color: #969696;
  height: 80px;
  line-height: 80px;
  text-shadow: 2px 2px 2px black;
}
