@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2ex0py');
  src:  url('fonts/icomoon.eot?2ex0py#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2ex0py') format('truetype'),
    url('fonts/icomoon.woff?2ex0py') format('woff'),
    url('fonts/icomoon.svg?2ex0py#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e94e";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-cog:before {
  content: "\e994";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
